<h3>Movie info for <%= flash[:notice] %></h3>
<br>
<h4><%= @imdb.tagline %></h4>
<br>
<div>
	<b>Show Times:</b> 
	<% @locations.each do |theatre| %>
		<% theatre[1].fetch(:movies).each do |movie| %>
			<% if flash[:notice] == movie.fetch(:name) %>
				<% movie.fetch(:times).each do |times| %>
					<%= times %>
				<% end %><br>
			<% end %>
		<% end %>
	<% end %>
</div>
<div>
	<br>
	<b>Plot</b>
	<p><%= @imdb.plot %></p>
	<br>
	<b>Writer(s)</b><br>
	<% @imdb.writers.each do |writer| %>
		<%= writer %><br>
	<% end %>
</div>
<br>
<center>
	<div>
		<iframe width="560" height="315" src="<%= @trailer %>" frameborder="0" allowfullscreen></iframe>
	</div>
</center>